* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    margin: 0 auto;
}

/*CABECERA*/
.gratis {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
}

#header {
    height: 100px;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    position: relative;

    
}


#header .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

/* DESPLEGABLE */
#hamburguesa {
    height: 40px;
    width: 20px;
    font-size: 20px;
    
    cursor: pointer;
    z-index: 999;
    margin: 20px;
}

#desplegable {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: white;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

#desplegable ul{
    list-style: none;
    margin-top: 40px;
}

#desplegable li{
    margin: 10px 0px;
    color: black;
}

/* Cuando está visible */
#desplegable.visible {
    transform: translateX(0);
}

/* Botón de cerrar */
.close-btn {
    font-size: 25px;
    text-align: left;
    cursor: pointer;
    color: black;
    margin: 35px 20px;;
}

#desplegable li a{
    color: gray;
    text-decoration: none;
    margin-left: 20px;
}

#desplegable li .activo{
    color: black;
    font-weight: initial;
}

#desplegable li a:hover{
    font-weight: bold;
    color: black;
}

.oculto {
    display: none;
}

.iconos,
#hamburguesa a {
    font-size: 20px;
    margin: 5px;
    color: black;
}

.iconos{
    display: flex;
    justify-content: center;
}

.iconos i {
    align-self: center;
    margin: 15px;
    color: black;
}

.iconos i:hover,
#hamburguesa a:hover {
    color: gray;
}


#header img {
    width: 150px;
    height: 150px;
}





/* FOOTER */
#footer {
    margin-top: 100px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #f9f9f9;
    justify-content: space-evenly;

}

#footer .redes div {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
}

#footer a {
    color: gray;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

#footer a:hover {
    color: black;
}

#footer i:hover {
    color: black;
}

#footer i {
    font-size: 20px;
    color: grey;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
}

.pie {
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
}

.pie a {
    color: blue;
}

.pie a:hover {
    color: blueviolet;
}


@media screen and (max-width: 600px) {

    .gratis{
        font-size: 12px;
    }
    #header {
        width: 100%;
    }

    .iconos,
    #hamburguesa i {
        font-size: 16px;
        margin: 5px;
        color: black;
    }

    .iconos i {
        margin: 5px;
        color: black;
    }


    /* FOOTER */
    #footer {
        grid-template-columns: repeat(2, auto);
    }

    #footer div {
        margin-bottom: 20px;
    }


}