*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
}


/*BARRA VERTICAL*/
.vertical{
    width: 150px;
    height: auto;
    text-align: center;
    margin: 20px;
}

.vertical li{
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.vertical a:hover{
    text-decoration: underline;
    font-weight: bold;
}

ul{
    list-style-type: none;
    border: 1px solid black;
}

ul .activo{
    text-decoration: underline ;
}

li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

/*BARRA HORIZONTAL*/
#header{
    width: 100%;
    padding: 15px;
    margin: 30px 0px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
}

#header .botones{
    display: flex;
    justify-content: flex-start;
}

.botones .activo{
    background-color: lightgray;
}

.logo{
    position: absolute;
    left: 50%;
}

.iconos{
    position: absolute;
    right: 0%;
    display: 5px;
    font-size: 20px;
    margin: 15px;
}

.iconos i{
    margin: 5px;
}

#header .botones a{
    text-align: center;
    border: 1px solid black;
    width: 100px;
    padding: 5px;
    margin: 0px 5px;
}

#header .logo{
    display: flex;
    justify-content: center;

}

#header img{
    width: 50px;
    height: 50px;
}


